# Xcode
.DS_Store
build/
DerivedData/
*.xcuserstate
*.xcuserdata
*.xccheckout
*.moved-aside
*.xcscmblueprint

# Swift Package Manager
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html

# Xcode workspace
xcuserdata/

# SwiftPM
.swiftpm

# macOS
*.lock

# User-specific
*.swp
